
  <script src= 
"https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> 
    </script> 
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

 

<!-- bootrap cdn-->

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">


<!-- importing  Material Icons-->

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<!-- importing material icons-->




<!-- importing model csss-->


<link rel="stylesheet" type="text/css" href="/css/model.css">


<link rel="stylesheet" type="text/css" href="/css/spinner.css">


<!-- importing model csss-->