<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fas fa-pencil-alt"></i> Textile Add</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <div class="md-form form-sm">
          <i class="fas fa-envelope prefix active"></i>
          <input type="text" id="form8" class="form-control"  required="required" ng-model="cname">
          <label for="form8" class="active">Company Name</label>
        </div>


 <div class="md-form form-sm">
          <i class="fas fa-envelope prefix active"></i>
          <input type="text" id="form8" class="form-control" required="required" ng-model="address1">
          <label for="form8" class="active">Address line 1</label>
        </div>


 <div class="md-form form-sm">
          <i class="fas fa-envelope prefix active"></i>
          <input type="text" id="form8" class="form-control" required="required" ng-model="address2">
          <label for="form8" class="active">Address line 2</label>
        </div>

         <div class="md-form form-sm">
          <i class="fas fa-envelope prefix active"></i>
          <input type="text" id="form8" class="form-control" required="required" ng-model="city">
          <label for="form8" class="active">City </label>
        </div>

     <div class="md-form form-sm">
          <i class="fas fa-envelope prefix active"></i>
          <input type="text" id="form8" class="form-control" required="required" ng-model="pincode">
          <label for="form8" class="active">pincode </label>
        </div>


     <div class="md-form form-sm">
          <i class="fas fa-lock prefix active"></i>
          <input type="text" id="form9" class="form-control" required="required" ng-model="state">
          <label for="form9" class="active">State</label>
        </div>




     <div class="md-form form-sm">
          <i class="fas fa-lock prefix active"></i>
          <input type="text" id="form9" class="form-control" required="required" ng-model="phoneno">
          <label for="form9" class="active">phone no</label>
        </div>





        <div class="md-form form-sm">
          <i class="fas fa-lock prefix active"></i>
          <input type="text" id="form9" class="form-control" ng-model="email">
          <label for="form9" class="active">Your email(optional)</label>
        </div>







        <div class="md-form form-sm">
          <i class="fas fa-tag prefix"></i>
          <input type="search" id="form-autocomplete-2" class="form-control" required="required" ng-model="gst">
          <label for="form-autocomplete-2" class="active">GSTIN</label>
        </div>

    {{!--     <div class="md-form form-sm">
          <i class="fas fa-pencil-alt prefix"></i>
          <textarea type="text" id="form67" class="md-textarea mb-0"></textarea>
          <label for="form67">Your message</label>
        </div> --}}

        <div class="text-center mt-1-half">
          <button  type="submit" class="btn btn-info mb-2 waves-effect waves-light" >Add Client <i class="fas fa-send ml-1"></i></button>
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>