<!DOCTYPE html>
<html>

    <head>



    {{> angularheader}}



	<script src="/js/ren.js"></script>




<style>

.form-elegant .font-small {
font-size: 0.8rem; }

.form-elegant .z-depth-1a {
-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
-webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }





</style>






    </head>
   

<body ng-app="myApp" ng-controller="myCtrl" data-ng-init="onrun()">


    







    {{> header}}


  <div class="form-row">

    <div class="col-md-6"><h4>Date:{[{getDate()}]}</h4></div>
    <div class="col-md-4"><h4>{[{coname}]}</h4></div>
  
 
 <div style="position:relative;right:0%;"><h4>Bill No:{[{billno}]}</h4></div>

</div>



<!-- Extended material form grid -->
<form  ng-submit="printPdf()"   > 
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div class="md-form">
  <input type="text" id="transport" class="form-control" ng-model="transport">
  <label for="transport">Transport</label>
</div>
    </div>
    <!-- Grid column -->


    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div class="md-form">
  <input type="text" id="agent" class="form-control" ng-model="agent">
  <label for="agent">Agent</label>
</div>
    </div>
    <!-- Grid column -->



 


   <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div class="md-form">
  <input type="text" id="vechicle" class="form-control" ng-model="vno">
  <label for="vechicle">vechicle no</label>
</div>
    </div>
    <!-- Grid column -->





  </div>
  <!-- Grid row -->


 <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-2">
      <!-- Material input -->

    <div ng-controller="myCtrl as ctrl" layout="column" ng-cloak="" class="autocompletedemoFloatingLabel" ng-app="MyApp">

        <md-autocomplete flex="" required="" md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.companyname" md-require-match="" md-floating-label="Company name" input-aria-describedby="favoriteStateDescription"  md-selected-item-change="ctrl.selectedItemChange(item)" >
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" >{[{item.companyname}]}</span>
          </md-item-template>
   
        </md-autocomplete>
 
        </p>
      </div>

  </md-content>
</div>



   
    <!-- Grid column -->






    <!-- Grid column -->

   <div class="col-md-2">
      <!-- Material input -->

    <div class="text-center">
  <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalContactForm">Add company</a>
</div>

    </div>


    <!-- Grid column -->







    <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div class="md-form">
  <input type="text" id="phone" class="form-control" value="manoj" ng-model="bphone" required="required" readonly>
  <label for="phone">Phone</label>
</div>
    </div>
    <!-- Grid column -->



 


   <!-- Grid column -->
    <div class="col-md-4">
      <!-- Material input -->
    <div class="md-form">
  <input type="text" id="GST" class="form-control" value="manoj"  ng-model="bgst" required="required" readonly>
  <label for="GST">GST</label>
</div>
    </div>
    <!-- Grid column -->





  </div>
  <!-- Grid row -->
































  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="inputAddressMD" value=" "  ng-model="baddress1"  required="required" readonly>
        <label for="inputAddressMD">Address</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="inputAddress2MD" value=" "  ng-model="baddress2" required="required" readonly>
        <label for="inputAddress2MD">Address 2</label>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-2">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="inputCityMD" value=" "  ng-model="bcity" required="required" readonly>
        <label for="inputCityMD">City</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="State" value=" "  readonly ng-model="bstate" required="required" >
        <label for="state">State</label>
      </div>
    </div>
    <!-- Grid column -->



    <!-- Grid column -->
    <div class="col-md-2">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="inputZipMD" value=" "  ng-model="bzip" required="required" readonly>
        <label for="inputZipMD">Zip</label>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="number" class="form-control" id="nobales" ng-model="balenos"  >
        <label for="nobales">No of bales</label>
      </div>
    </div>
    <!-- Grid column -->

  <div class="col-md-2">
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="balerange"  ng-model="balerange">
        <label for="balerange">Bale Range eg(1-30)</label>
      </div>
    </div>








  </div>
  <!-- Grid row -->










<table class="table table-bordered">
  <thead>
    <tr>
      <th  class="default-color" scope="col">SNo</th>
      <th  class="default-color" scope="col">Cloth Type   </th>
      <th  class="default-color" scope="col">HSN</th>
      <th  class="default-color" scope="col">PCS</th>
      <th  class="default-color" scope="col">Meters</th>
      <th   class="default-color" scope="col">Rate/mtr</th>
       <th  class="default-color" scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" scope="row">1</th>

     <!-- table input 1 -->   
      <td rowspan="2">
            <div >
      <!-- Material input -->
      <div class="md-form form-group">
        <input type="text" class="form-control" id="cloth"  ng-model="clothtype" required="required">
        <label for="cloth">Cloth type</label>
      </div>
      <br> Folding Less {[{fold}]}%
    </div>




      </td>
      <td rowspan="2">
        
 <!-- table input 2-->   

            <div  >
      <!-- Material input -->
      <div class="md-form form-group" >
        <input style="width: 60px;" type="text" class="form-control" id="hsn"  ng-model="hsn" required="required">
        <label for="hsn">HSN</label>
      </div>
    </div>




      </td>
      <td rowspan="2">

            <div  >
      <!-- Material input -->
      <div class="md-form form-group" >
        <input  style="width: 60px;" type="number" class="form-control" id="pcs" ng-model="pcs" required="required" >
        <label for="pcs">Pcs</label>
      </div>
    </div>





      </td>
      <td rowspan="2">

            <div  >
      <!-- Material input -->
      <div class="md-form form-group" >
        <input  style="width: 80px;" type="number" class="form-control" id="mtrs" ng-model="mtrs"   placeholder="1.00" step="0.01" required="required">
        <label for="mtrs">mtrs</label>
      </div>
      <br>
{[{getFoldingLess()}]}


<hr ><br>

{[{getReducedMeters()}]}


    </div>








      </td>

<td rowspan="2">

        <div  >
      <!-- Material input -->
      <div class="md-form form-group" >
        <input style="width: 60px;"  type="number" class="form-control" id="rate/mtrs" ng-model="rate"  placeholder="1.00" step="0.01" required="required" >
        <label for="rate/mtrs">Rate/mtrs</label>
      </div>
    </div>



</td>



<td rowspan="2">

{[{getTotal()}]}


</td>





    </tr>
<tr>




</tr>

<tr>
  <td colspan="5">
<strong>

Terms & Conditions :<br>
1.Overdue interest will be charged at 24% from the invoice date.<br>
2.We are not responsible for any loss or damage in transit.<br>
3.We will not accept any claim after processing of goods.<br>
4.Subject to Tirupur Jurisdiction only.<br>
</strong>

  </td>


<!--this is the taxable section -->
<td >
<strong>
Taxable Amount :  <br>
CGST 2.5% : <br>
SGST 2.5%:<br>
ROUNDED OFF :<br>

</strong>
</td>

<td>
  <strong>

 {[{getTotal()}]} <br>
 {[{getsgst()}]} <br>
 {[{getsgst()}]} <br>
{[{getRoundedoff()}]}<br>

</strong>
</td>

</tr>

<tr>

<td colspan="5">{[{convertnumbertoword()}]}</td>
 <strong>
<td>Net Amount</td>
<td>{[{getnetamount()}]}</td>
</strong>
</tr>



  </tbody>
</table>

 <input type="text"style="visibility: hidden" id="bcompanyname" ng-model="bcompanyname" >







<button style="align:center;position:absolute;left:43%;" type="submit" class="btn btn-default btn-rounded my-3">Save and Print PDF</button>






  
</form>
<!-- Extended material form grid -->




<!-- iframe-->

<iframe id="billframe" type="hidden" style="width:0; height:0; border:0; border:none"></iframe>

<!-- iframe-->







<form  id="client" ng-submit="clogin()">

 {{> clientinput}}

</form>








    {{> angularfooter}}




  {{>sucessmodel}}


<script type="text/javascript">
        function codeAddress() {

console.log(localStorage.getItem('userid')+'oh my god');
            if(localStorage.getItem('userid')===null){

            
             window.location.href = '/';
    }
        }



        window.onload = codeAddress;
        </script>


<div class="pos"  >
<div class="sk-folding-cube " style="visibility:{[{viewflag}]}">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
</div>



</body>


















</html>
