<!DOCTYPE html>
<html>

    <head>



    {{> angularheader}}



	<script src="/js/settings.js"></script>
  









    </head>
   

<body ng-app="myApp" ng-controller="myCtrl"   data-ng-init="onrun()">


   {{> header}}


<form ng-submit="savesettings()">


 <div class="form-row">

<div class="col-md-4"></div>
 <div class="col-md-4">
     
<h1>Bank</h1>
<br>
<table>
    <tr>
<!-- Default input -->
<td><label for="exampleForm2">Branch</label></td>
<td><input type="text" id="Branch" class="form-control" ng-model="branch"></td> 
</tr>

    <tr>
<!-- Default input -->
<td><label for="exampleForm2">IFSC</label></td>
<td><input type="text" id="IFSC" class="form-control"  ng-model="ifsc"></td> 
</tr>

    <tr>
<!-- Default input -->
<td><label for="exampleForm2">Bank Name</label></td>
<td><input type="text" id="bname" class="form-control"   ng-model="bankname"></td> 
</tr>




    <tr>
<!-- Default input -->
<td><label for="exampleForm2">Account No</label></td>
<td><input type="text" id="IFSC" class="form-control"  ng-model="accountno"></td> 
</tr>




    <tr>
<!-- Default input -->
<td><label for="exampleForm2">Folding less percent</label></td>
<td><input type="number" id="IFSC" class="form-control"  ng-model="foldingless"></td> 
</tr>


   <tr>


<td>


<button style="position: relative;left:50%" type="submit" class="btn btn-default btn-rounded my-3">Save</button>



</td>


   </tr>



</div>







</table>



</form>
</div>









    {{> angularfooter}}


 {{>sucessmodel}}


<script type="text/javascript">
        function codeAddress() {

console.log(localStorage.getItem('userid')+'oh my god');
            if(localStorage.getItem('userid')===null){

            
             window.location.href = '/';
    }
        }



        window.onload = codeAddress;
        </script>


</body>