<!DOCTYPE html>
<html>

    <head>



    {{> angularheader}}



	<script src="/js/viewbills.js"></script>
  









    </head>
   

<body ng-app="myApp" ng-controller="myCtrl"   data-ng-init="onrun()">


   {{> header}}





<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Bill no</th>
      <th scope="col">Company name</th>
      <th scope="col">Invoice Date</th>
      <th scope="col">Total Amount(Rs) </th>
    </tr>
  </thead>
  <tbody ng-repeat="x in bills">
    <tr>
      <th scope="row">{[{x.bill.billcount}]}</th>
      <td>{[{x.bill.companyname}]}</td>
      <td>{[{x.bill.invoicedate}]}</td>
      <td>{[{x.bill.netamount}]}</td>
      <td> <button  type="submit" ng-click="previewbill(x.bill.billcount)" class="btn btn-default btn-rounded my-3">view bill</button>
</td>
    </tr>

  </tbody>
</table>



<iframe id="billframe" type="hidden" style="width:0; height:0; border:0; border:none"></iframe>














    {{> angularfooter}}


 {{>sucessmodel}}


<script type="text/javascript">
        function codeAddress() {

console.log(localStorage.getItem('userid')+'oh my god');
            if(localStorage.getItem('userid')===null){

            
             window.location.href = '/';
    }
        }



        window.onload = codeAddress;
        </script>



<div class="pos"  >
<div class="sk-folding-cube " style="visibility:{[{viewflag}]}">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
</div>


</body>